<footer class="main-footer">
  <div class="footer-left">
    <div class="bullet"></div> Design By <a href="https://github.com/98vaneetkumar">Developer Vaneet kumar</a>
  </div>
  <div class="footer-right">
    1.0.0
  </div>
</footer>
</div>
</div>
