<div class="main-content">
  <div class="form-group col-12 ">
    <section class="section">
      <div class="section-header">
        <h1>Change Password</h1>
      </div>
      <div class="card">
        <div class="card-body pt-4">
          <div class="section-body">
            <form action="/admin/Update_password" id="addForm" method="post">
              <div class="col-12 col-md-12 col-lg-10 mx-auto">
                <div class="form-group floating-addon">
                  <label for="password">Old Password</label>
                  <!-- <input id="OldPassword" type="password" maxlength="18" class="form-control" name="oldPassword"
                    placeholder="Old Password" tabindex="1" required autofocus> -->
                    <div class="passwordEye">
                      <input id="OldPassword" maxlength="18" name="oldPassword" type="password" class="form-control" placeholder="Old Password" tabindex="3"
                        required>
                      <i class="fas fa-eye-slash int_eye" id="oldeye"></i>
                    </div>
                </div>
              </div>
              <div class="form-group floating-addon">
                <div class="col-12 col-md-12  col-lg-10 mx-auto mt-sm-3">
                  <label for="password">New Password</label>
                  <!-- <input id="newPassword" type="password" maxlength="18" class="form-control" name="newPassword"
                    placeholder="New Password" tabindex="2" required autofocus> -->
                  <div class="passwordEye">
                    <input id="newPassword" type="password" placeholder="New Password" class="form-control" name="newPassword" tabindex="2"
                      required>
                    <i class="fas fa-eye-slash int_eye" id="neweye"></i>
                  </div>
                </div>
              </div>
              <div class="form-group floating-addon">
                <div class="col-12 col-md-12  col-lg-10 mx-auto mt-sm-3">
                  <label for="confirm_password">Confirm Password</label>
                  <!-- <input id="confirm_password" onkeyup="validate()" type="password" maxlength="18" class="form-control"
                    name="confirm_password" placeholder="Confirm Password" tabindex="3" required autofocus> -->

                    <div class="passwordEye">
                      <input id="confirm_password" placeholder="Confirm Password" onkeyup="validate()" maxlength="18" type="password" class="form-control" name="confirm_password" tabindex="3"
                        required>
                      <i class="fas fa-eye-slash int_eye" id="eye"></i>
                    </div>
                  <span id="message"></span>
                </div>
              </div> <br>
              <div class="form-group">
                <div class="col-12 col-lg-10 mx-auto text-right">
                  <button type="submit" class="btn btn-success btn-lg" tabindex="4">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<style>
  .error {
    color: red !important;
  }
</style>


<script>
  $(document).ready(function () {

    jQuery.validator.addMethod("noSpace", function (value, element) {
      return value == '' || value.trim().length != 0;
    });

    jQuery.validator.addMethod("emailExt", function (value, element, param) {
      return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
    }, 'Your e-mail is wrong');

    $('form[id="addForm"]').validate({
      rules: {
        oldPassword: {
          required: true,
          noSpace: true,

        },
        newPassword: {
          required: true,
          noSpace: true,
          minlength: 5,
          maxlength: 12
        },
        confirm_password: {
          required: true,
          noSpace: true,
          minlength: 5,
          maxlength: 12,
          equalTo: "#newPassword" // Use "#" before the ID of the field to match against
        },
      },
      messages: {
        oldPassword: {
          required: "This field is required.",
          noSpace: "Space not allowed",
          checkOldPassword: 'Old password is incorrect.'
        },
        newPassword: {
          required: "This field is required.",
          noSpace: "Space not allowed",
          minlength: "New password should have at least 5 characters",
          maxlength: "New password should have at most 12 characters"
        },
        confirm_password: {
          required: "This field is required.",
          noSpace: "Space not allowed",
          minlength: "Confirm password should have at least 5 characters",
          maxlength: "Confirm password should have at most 12 characters",
          equalTo: "New password and confirm password does not match."
        },
      },
      submitHandler: function (form) {
        form.submit();
      }
    });
  });



  $('#neweye').click(function () {
    if ($(this).hasClass('fa-eye-slash')) {
      $(this).removeClass('fa-eye-slash');
      $(this).addClass('fa-eye');
      $('#newPassword').attr('type', 'text');
    } else {
      $(this).removeClass('fa-eye');
      $(this).addClass('fa-eye-slash');
      $('#newPassword').attr('type', 'password');
    }
  });



  $('#eye').click(function () {
    if ($(this).hasClass('fa-eye-slash')) {
      $(this).removeClass('fa-eye-slash');
      $(this).addClass('fa-eye');
      $('#confirm_password').attr('type', 'text');
    } else {
      $(this).removeClass('fa-eye');
      $(this).addClass('fa-eye-slash');
      $('#confirm_password').attr('type', 'password');
    }
  });


  $('#oldeye').click(function () {
    if ($(this).hasClass('fa-eye-slash')) {
      $(this).removeClass('fa-eye-slash');
      $(this).addClass('fa-eye');
      $('#OldPassword').attr('type', 'text');
    } else {
      $(this).removeClass('fa-eye');
      $(this).addClass('fa-eye-slash');
      $('#OldPassword').attr('type', 'password');
    }
  });

</script>