<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Edit Category</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/admin/dashboard">Dashboard</a></div>
        <div class="breadcrumb-item"><a href='/admin/category_list'>Category</a></div>
        <div class="breadcrumb-item">Edit Category</div>
      </div>
    </div>
    <div class="section-body">
      <div class="card">
        <form action="/admin/update_category" id="addForm" method="post" enctype="multipart/form-data">
          <div class="row mt-sm-4 justify-content-center ">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card profile-widget bg-white">
                <div class="profile-widget-header text-center py-3">
                  <img alt="image" width="200" height="200" id="blah" src="<%=editData.image%>"
                    class="profile_img rounded-circle border">
                  <input type="file" name="image" title="" value="<%= editData.image %>" id="imgInp"
                    accept="image/x-png,image/gif,image/jpeg"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;">
                </div>
                <!-- <div class="form-group col-12">
                  <label> Update profile picture </label>
                  <input type="file" name="image" accept="image/*" value="" id="imgInp" class="form-control">
                </div> -->
              </div>
            </div>

            <div class="col-12 col-lg-10 offset-lg-0">
              <div class="card-body">
                <div class="form-group col-12 floating-addon">
                  <label> Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" name="name" value="<%=editData.name%>" required>
                  <input type="hidden" name="id" value="<%=editData._id%>">
                  <div class="invalid-feedback">
                    Please fill in the name
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12 col-md-12 text-right mt-4">
                    <button type="submit" class="btn btn-success">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>


<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>

<style>
  .error {
    color: red !important;
  }
</style>
<script>
  $(document).ready(function () {

    jQuery.validator.addMethod("noSpace", function (value, element) {
      return value == '' || value.trim().length != 0;
    },

      jQuery.validator.addMethod("emailExt", function (value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Your e-mail is wrong'),


      $('form[id="addForm"]').validate({


        keypress: function (element) {

          var element_id = $(element).attr('id');
          if (this.settings.rules[element_id].keypress !== false) {
            $(element).valid();
          }
        },

        rules: {

          title: {
            noSpace: true,
            required: true,
            maxlength: 15
          },
          jobtype: {
            noSpace: true,
            required: true,
            maxlength: 15
          },
          estmdtime: {
            noSpace: true,
            required: true,
            maxlength: 10
          },
          expdate: {
            noSpace: true,
            required: true,
            maxlength: 15
          },
          description: {
            noSpace: true,
            required: true,
            maxlength: 15
          },
          address: {
            noSpace: true,
            required: true,
            maxlength: 30
          },
          description: {
            noSpace: true,
            required: true,
            maxlength: 50
          },
          price: {
            noSpace: true,
            required: true,
            maxlength: 50
          },
        },
        messages: {

          name: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Name should be 20 charcater"
          },
          jobtype: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Text name should be 15 charcater"
          },
          estmdtime: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Text should be 15 charcater"
          },
          expdate: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "text should be 15 charcater"
          },
          address: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Text should be 15 charcater"
          },
          description: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Text should be 50 charcater"
          },

        },
        submitHandler: function (form) {
          form.submit();
        }
      }));
  });
</script>